# Pycharm
.idea

# Python venv (Linux-only, recreated by bench inside container)
development/frappe-bench/env/

# Node modules (contain Linux symlinks, recreated by yarn/npm inside container)
**/node_modules/

# Sites assets symlinks (recreated by bench build inside container)
development/frappe-bench/sites/assets/frappe
development/frappe-bench/sites/assets/erpnext
development/frappe-bench/sites/assets/education
development/frappe-bench/sites/assets/hrms
development/frappe-bench/sites/assets/university_erp

# Python
*.pyc
__pycache__

# Misc
*.code-workspace
